body {
  color: #000305;
  font-size: 87.5%;
  font-family: Arial, 'Lucida Sans Unicode';
  line-height: 1.5;
  text-align: left;
  background-color: #D0D0D0;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #CF5C3F;
}
/*
a:hover, a:active {
  background-color: #CF5C3F;
  color: #FFF;
}
*/
.body {
  margin: 0 auto;
  width: 70%;
  clear: both;

}
.mainheader img {
  width: 50%;
  height: auto;
  margin: 2% 0 2% 25%;


}

.mainheader nav {
  background-color: #666;
  height: 40px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0px 4px 0px #CF5C3F;
}

.mainheader nav ul {
  list-style: none;
  margin: 0 auto;

}

.mainheader nav ul li {
  float: left;
  display: inline;

}


.mainheader nav a, .mainheader nav a:link, .mainheader nav a:visited {
  float: left;
  padding: 10px 25px;
  color: white;
  display: inline-block;
  height: 20px;
}
.mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:link,
 .mainheader nav .active a:visited {
  background-color: #CF5C3F;
  text-shadow: none;
}

.mainheader nav ul li a {
  padding-top: 10px;
    background-color: #666;
  height: 40px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

.mainContent {
  line-height: 25px;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #CF5C3F;
  background-color: #FFF;
}

.content {
  width: 70%;
  float: left;
  
}
.topcontent {
  position: relative;
  z-index: 1;
  box-shadow: 0px 6px 0px #E8E8E8;
  background-color: #FFF;
  border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
// box-shadow: 2px 2px 0px #CF5C3F;
}
.mainContent2 {
  line-height: 25px;
  border-radius: 5px;
}

.content2 {
  width: 70%;
  float: left;
  
}
.topcontent2 {
  background-color: #FFCEBA;
  border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
}
.top-sidebar {
  width: 21%;
  float: left;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin-left: 3%;
  margin-top: 1.5%;
  margin-bottom: 2%;
  padding: 2% 3%;
}
hr {
height: 1px;
color: none;
background-color: #CF5F3C;
border: none;
}
.post-info {
  font-style: italic;
  color: #999;
  font-size: 90%;
}
.middle-sidebar {
  width: 21%;
  float: right;
  background-color: #FFF;
  border-radius: 5px;
  margin-left: 3%;
  margin-bottom: 2%;
  padding: 2% 3%;
}
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, input, textarea, fieldset, blockquote {
  margin: 0; padding: 0; border: 0;
}

}

#container {
  width: 760px; margin: 60px auto;
}

  h1 {
    font: arial black ;
    color: #CF5C3F;
    text-shadow: 0px 2px 3px #546a7e;
    margin: 15px 15px 15px 15px;
  }
  
  h2 {
    color: CF5C3F;
    font: 27px/40px impact; letter-spacing: 1px; text-align: center;
    text-shadow: 0px 2px 3px #546A7E; margin: 0 0 40px 0;
  }
  
  h3 {
    width: 338px; height: 46px; padding: 11px 0 0 22px;
    font: 27px/24px Helvetica, Arial, Sans-Serif; letter-spacing: 1px;
  }
  

  ul {
    list-style: none;
    }



.mainfooter nav {
  background-color: #D8D8D8;
  height: 40px;
  width: 100%;
  float: left;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
 // box-shadow: 0px 4px 0px #CF5C3F;
}

.mainfooter nav ul {
  list-style: none;
  margin: 0 auto;
  height: 40px;

}

.mainfooter nav ul li {
  float: none;
  display: inline;
  height: 40px;

}


.mainfooter nav a, .mainfooter nav a:link, .mainfooter nav a:visited {
  float: none;
  padding: 10px 55px;
  color: white;
  display: inline-block;
  height: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 20px;

}
.mainfooter nav a:hover, .mainfooter nav a:active, .mainfooter nav .active a:link,
 .mainfooter nav .active a:visited {
  height: 20px;
  color: #CF5C3F;
//  background-color: #CF5C3F;
  text-shadow: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}

.mainfooter nav ul li a {
//  padding-top: 10px;
    background-color: #D8D8D8;
  height: 30px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  
}
footer {
  margin-top: 3px;
  float: left;
  height: 30px;
  width: 70%;
  
}
/*
.mainfooter nav ul li {
  float: left;
  display: inline;
}
footer ul li {
  margin: 35px;
  padding-top: 5px;
}


footer {
  float: left;
  height: 40px;
  background-color: #666;
  height: 40px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0px 4px 0px #CF5C3F;
}
footer nav {
  float: left;
  background-color: #666;
  height: 40px;
  height: 40px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0px 4px 0px #CF5C3F;
}

*/
#DropMenu
{	margin: 0;
	padding: 0;
	z-index: 30}

#DropMenu li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 11px arial}

#DropMenu li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 60px;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none}

#DropMenu li a:hover
{	background: #49A3FF}

#DropMenu div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2}

	#DropMenu div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #EAEBD8;
		color: #2875DE;
		font: 11px arial}

	#DropMenu div a:hover
	{	background: #49A3FF;
		color: #FFF}
